<%= form_for(defaultitem) do |f| %>
  <% if defaultitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(defaultitem.errors.count, "error") %> prohibited this defaultitem from being saved:</h2>

      <ul>
      <% defaultitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
