<h2 class="ui header">Default Item</h2>
<div class="ui divider"></div>
<div class="ui grid">
	<div class="five wide column">
		<div class="ui segment">
			<h4 class="ui header">Create new item</h4>
			<%= render 'defaultitems/inline_form' %>
		</div>
	</div>
	<div class="eleven wide column">
		<%= render 'defaultitems/item_table' %>
	</div>
</div>
