<%= form_for(to_do_list) do |f| %>
  <% if to_do_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(to_do_list.errors.count, "error") %> prohibited this to_do_list from being saved:</h2>

      <ul>
      <% to_do_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Make my profile visible</label>
  </div>

<div class="ui middle aligned divided list">
  <div class="item">
    <div class="ui checkbox">
      <input type="checkbox">
    </div>
    <div class="content">
      <a class="header">Item one</a>
    </div>
  </div>
</div>
  
<% end %>
