<div class="five wide column">
	<div class="ui segment" id="todolist">
		<h3 class="ui header">
			To Do List
		</h3>
		<div class="ui divider"></div>
		<%= render 'todolists/editable_list' %>
	</div>
</div>
<div class="eleven wide column">
	<div class="ui pointing menu">
	  <a class="active item">
	    Single Month
	  </a>
	  <a class="item">
	    3 Months
	  </a>
	  <a class="item">
	    6 Months
	  </a>
	  <div class="right menu">
	    <div class="item">
	      <div class="ui transparent icon input">
	        <input type="text" placeholder="Filter by task...">
	        <i class="filter link icon"></i>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui segment">
		<div id='calendar'></div>
	</div>
</div>


<div class="ui small modal" id="item_detail">
  <i class="close icon"></i>
  <div class="header" id="item_name">
  </div>
  <div class="image content">
    <div class="description">
    </div>
  </div>
</div>
