<div class="sixteen wide column">
	<div class="ui pointing menu">
	  <a class="active item">
	    Single Month
	  </a>
	  <a class="item">
	    3 Months
	  </a>
	  <a class="item">
	    6 Months
	  </a>
	  <div class="right menu">
	    <div class="item">
	      <div class="ui transparent icon input">
	        <input type="text" placeholder="Search...">
	        <i class="search link icon"></i>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui segment">
		<% if params[:multiple_view].present? %>
			<div id="multiple_view"
					 class="ui three column grid"
					 data-calendar-count="<%= params[:multiple_view] %>">
					<% params[:multiple_view].to_i.times do |index| %>
						<div class="column">
							<div id='calendar-<%= index + 1 %>'></div>
						</div>
					<% end %>
			</div>
		<% else %>
			<div id='calendar'></div>
		<% end %>
	</div>
</div>
