<%= form_tag create_item_todolists_path, class: 'ui form' do %>

<div class="fields">
	<div class="twelve wide field">
		<input type="text" name="todoitem[name]" placeholder="Task name...">	
	</div>
	<div class="four wide field">
		<button class="ui icon fluid button">
			<i class="plus icon"></i>
		</button>	
	</div>
</div>

<% end %>

