<div id="date_list_modal" class="ui mini modal">
	<i class="close icon"></i>
	<div class="content">
		<h3 class="ui header" id="list_time"></h3>
		<div class="ui divided list" id="list_items"></div>
	</div>
</div>
