jQuery(document).on('page:change turbolinks:load', function() {

	initSemanticElement();
	if ($("#multiple_view").length) {
		initMultipleCalendar();
	} else {
		initCalendar('', 600);
	}

});

function initSemanticElement() {
	$('.ui.modal .close.icon').click(function(){
		$(this).parent('.ui.modal').modal('hide');
	});
}

function initCalendar(id, height) {
	$('#calendar' + id).fullCalendar({
  		timezone: 'UTC',
  		height: height,
  		header: {
				left:   'title',
				center: '',
				right:  'prev,next'
  		},
  		eventClick: function(e){
  			getDateList(e.name);
  		}
   });

	$events =  $("#main_container").data('events');
	$('#calendar').fullCalendar('renderEvents', $events);
}

function initMultipleCalendar() {
	n_o_calendar = parseInt($('#multiple_view').data('calendar-count'));
	for (i=0;i<n_o_calendar;i++) {
		id = i + 1
		initCalendar('-' + id, 500);
	}
}

function getDateList(list_id) {
	$.getJSON('/todolists/detail/' + list_id, function( data ){
		cleanDateListModal();
		appendDataToDateListModal(data);
	});
	$('#date_list_modal').modal('show');
}

function cleanDateListModal() {
	$('#date_list_modal').find('#list_time').text(null);
	$('#date_list_modal').find('#list_items').html(null);
}

function appendDataToDateListModal(data) {
	$('#date_list_modal').find('#list_time').text(data.created_at);
	$.each(data.todo_items, function(index, item){
		// Using VueJS or ReactJS is better because it can handle complicate data with clean code
		$('#date_list_modal').find('#list_items').append('<div class="item">' + item.name + '</div>');
	});
}
